---
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";
interface Frontmatter {
  title: string;
  author: string;
  summary: string;
  image: {
    url: string;
    alt: string;
  };
  elementsPerRow?: number;
}
const posts = await Astro.glob<Frontmatter>("../pages/posts/*.md");
---

<Layout title="Digitaliseringsgevinst'n">
  <div class="newsfeed-wrapper">
    <h1 class="sr-only">Digitaliseringsgevinsten - nyheter</h1>
    {
      posts.map((post) => (
        <Post
          title={post.frontmatter.title}
          summary={post.frontmatter.summary}
          author={post.frontmatter.author}
          url={post.url}
          image={post.frontmatter.image}
          elementsPerRow={post.frontmatter.elementsPerRow}
        />
      ))
    }
  </div>
</Layout>

<style>
  .newsfeed-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
  }
</style>
